.Sidebar{
    border-right: solid whitesmoke;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1rem;
    transition: all 300ms ease;
    margin-bottom: 2rem;
}
.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 0.0rem;
    height: 4%;
}
.logo>img{
    width: 3rem;
    height: 2rem;
}
.logo>span>span{
    color: var(--pink);
}
#dot{
    display: flex;
    margin-top: 0.2rem;
    margin-left: 7rem;
}
.Profile{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    height: 3rem;
    background-color: whitesmoke;
    border-radius: 0.7rem;
    height: 8%;
}
.Pic{
    margin-left: 1rem;
    margin-top: 1rem;
    height: 1rem;
    width: 18%;
}
#Pf{
    height: 2.5rem;
}
.P1{
    margin-top: 1rem;  
    font-size: 13px;
    margin-left: 1rem;
    font-weight: bold;
}
.P2{
    font-size: 13px;
    margin-left: 1rem;
}

.menu{
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 14px;
}
.menuItem{
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    color: rgb(139, 134, 134);
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    align-items: center;
}
.menuItem:active{
    cursor: pointer;
}
.active.menuItem{
    background-color: rgba(233, 253, 238, 0.7);
    margin-left: 0;
    color: #1ed14b ;
    height: 2.7rem;
    border-right: 0.2rem solid #1ed14b;
    border-radius: 0.1rem;
}
.active::before{
    content: '';
    width: 3px;
    height: 100%;
    margin-right: calc(1rem-3px);
}
.Item{
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    color: rgb(139, 134, 134);
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    align-items: center;
}
.Item:active{
    padding: 1rem;
   cursor: pointer;
   background-color: rgba(233, 253, 238, 0.7);
   margin-left: 0;
   color: #1ed14b ;
   height: 2.7rem;
   border-right: 0.2rem solid #1ed14b;
   border-radius: 0.1rem;
   
}

/* .active::before{
    content: '';
    width: 3px;
    height: 100%;
    margin-right: calc(1rem-3px);
} */
.It{
    margin-top: 1rem;
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    color: rgb(139, 134, 134);
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    align-items: center;
}

.It:active{
    padding: 1rem;
    cursor: pointer;
    background-color: rgba(233, 253, 238, 0.7);
    margin-left: 0;
    color: #1ed14b ;
    height: 2.7rem;
    border-right: 0.2rem solid #1ed14b;
    border-radius: 0.1rem;
    
}
.mailcount{
    width: 15px;
    height: 15px;
    background-color: rgba(244, 166, 154, 0.7);
    border-radius: 30%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    /* position: absolute; */
    top: 5px;
    margin-left: 100px;
}
.arrow{
    
    top: 5px;
   margin-left: 80px;
    /* right: 10px; */
}
